@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cookie</title>
</head>
<body>
    <div>
        Cookie dokument opisujacy prawa cookie na stronie
        <br /> @Html.ActionLink("Strona głowna", "", "Home") <br />
    </div>
</body>
</html>
