@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        wybór dokumentu do przeczytania <br/>
        @Html.ActionLink("Regulamin", "Regulations") <br />
        @Html.ActionLink("Regulamin Cookie", "Cookie") <br />
        @Html.ActionLink("Dane osobowe", "PersonalData") <br />
        @Html.ActionLink("Polityka Prywatnosci", "PrivacyPolicy") <br />

    </div>
</body>
</html>
